<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c09f7f">  <td>20/02/11 11:54:40</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Setup_DockerGrid.startDockerGrid()[pri:0, instance:testCases.Setup_DockerGrid@6950e31]">&gt;&gt;startDockerGrid</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@614685048</td>   <td></td> </tr>
<tr bgcolor="aab2ec">  <td>20/02/11 11:54:40</td>   <td>-153</td> <td>&nbsp;</td><td title="&gt;&gt;MyUtilities.startReport(java.lang.String, java.lang.String)[pri:0, instance:testCases.ClientRegistration@b7dd107]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@614685048</td>   <td></td> </tr>
<tr bgcolor="c09f7f">  <td>20/02/11 11:55:42</td>   <td>62039</td> <td>&nbsp;</td><td title="&lt;&lt;Setup_DockerGrid.stopDockerGrid()[pri:0, instance:testCases.Setup_DockerGrid@6950e31]">&lt;&lt;stopDockerGrid</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@614685048</td>   <td></td> </tr>
<tr bgcolor="aab2ec">  <td>20/02/11 11:55:41</td>   <td>61471</td> <td>&nbsp;</td><td title="&lt;&lt;MyUtilities.tearDown()[pri:0, instance:testCases.ClientRegistration@b7dd107]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@614685048</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>20/02/11 11:54:55</td>   <td>15103</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClientRegistration.trackDeliveryGrid1()[pri:0, instance:testCases.ClientRegistration@b7dd107]">trackDeliveryGrid1</td> 
  <td>TestNG-test=Test-1@1304205731</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>20/02/11 11:54:55</td>   <td>15103</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ClientRegistration.trackDeliveryGrid2()[pri:0, instance:testCases.ClientRegistration@b7dd107]">trackDeliveryGrid2</td> 
  <td>TestNG-test=Test-2@1465171756</td>   <td></td> </tr>
</table>
