<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a8c7ae">  <td>20/01/16 18:08:10</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;MyUtilities.tearDown()[pri:0, instance:testCases.MobileTest@42eca56e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="c273d3">  <td>20/01/16 18:08:10</td>   <td>-7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MobileTest.testMobile()[pri:0, instance:testCases.MobileTest@42eca56e]">testMobile</td> 
  <td>main@385337537</td>   <td></td> </tr>
</table>
